#排除所有文件
*

#包含目录
!**/

#包含源码文件
!*.java

#排除无关文件
src/TAG.java

#包含测试文件
!test/**/*

#包含自述文件
!README.md

#包含代码清单
!已阅代码清单_按名称排序.md
!已阅代码清单_按功能排序.md
!测试文件清单.md

#包含项目配置文件
!OpenJDK-11.iml
!.idea/encodings.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/workspace.xml

#.gitignore包含文件
!.gitignore
